/**
 * index.scss
 * - Add any styles you want here!
 */
div.titulo {
  background: lightgray
  }
h1 {color: black}
h2 {color: gray}

body {
  background: gray;
}
iframe {
  background: #ff5;
}

div.sketchfab-embed-wrapper {
  margin: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Esto asegura que el contenedor ocupe al menos el 100% de la altura de la ventana. */
}

.centrado {
  text-align: center; /* Alinea el contenido del div al centro. */
  border: 20px solid #ccc; /* Agrega un borde para visualización. */
  padding: 20px; /* Agrega espacio interno para que el contenido no esté pegado a los bordes. */
}

 body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .header {
      text-align: center;
      padding: 10px;
      background-color: #f0f0f0;
    }

    .titulo {
      text-align: center;
      margin-top: 20px;
    }
    .footer {
      text-align: center;
      margin-top: 20px;
    }


    h1, h2 {
      font-family: 'Helvetica Neue', sans-serif;
      color: #333;
    }

    .introduction {
      text-align: center;
      margin: 20px;
    }

    .iframe-container {
      display: flex;
      justify-content: space-around;
      margin: 20px;
    }

    .Modelo-3D-del-Robot {
      text-align: center;
      margin: 20px;
    }

    .sketchfab-embed-wrapper {
      width: 100%;
      height: 0;
      padding-bottom: 75%; /* Ajusta el porcentaje según sea necesario */
      position: relative;
    }

